@font-face {
  font-family: "normal";
  src: url("./Assets/Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("./Assets/Fonts/Poppins/Poppins-Medium.ttf");
}
:root {
  --primary: rgb(21, 20, 24);
  --secondary: rgb(135, 57, 250);
  --accent: rgb(119, 119, 121);
  --white: rgb(255, 255, 255);
  --diamond-color: rgb(30, 30, 30);
}
body {
  background-color: var(--primary);
}
body::-webkit-scrollbar {
  display: none;
}
.dots-class {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.dots-class li {
  height: 50px;
  width: 50px;
}

.dots-class li button {
  display: none;
}

.dots-class li::after {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: red;
}

.dots-class li::marker {
  display: none;
  content: '';
}